# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
package-lock.json
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/app/src/assets/css/main.css
/website/src/styles/main.css


# misc
.DS_Store
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
